<!-- Fetch Header -->
<%- include('partials/header') %>

<!-- Main Content -->
<div class="main-content" style="margin-top: 5%">
  <div class="container top-con"></div>
  <div class="container">
    <h2>List of Books</h2>
    <div class="row">
      <% book.forEach(function(book){ %>
      <div
        class="col-12 col-md-3 flex-top card book-card"
        style="
          display: flex;
          min-width: 320px;
          -webkit-box-shadow: 2px 5px 10px 6px <%= book.color %>;
          box-shadow: 2px 5px 10px 6px <%= book.color %>;
        "
      >
        <strong
          ><h3 style="font-weight: 800; font-size: 2.1rem">
            <%= book.title %>
          </h3></strong
        >
        <p style="line-height: 30px">
          Written by
          <strong style="font-weight: 800; font-size: 1.2rem"
            ><%= book.author %></strong
          >
          <br />
          Published:
          <strong style="font-weight: 800; font-size: 1.2rem"
            ><%= book.date %></strong
          >
        </p>
      </div>
      <% }) %>
    </div>
  </div>
</div>

<!-- Fetch Footer -->
<%- include('partials/footer') %>
